<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<nav th:fragment="navigation">
  <div>
    <ul>
      <li>
        <a th:href="@{/home}">Home</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/card}">Cards</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/operation}">Operations</a>
      </li>
    </ul>
    <div sec:authorize="!isAuthenticated()">
      <form th:action="@{/login}" method="get">
        <button type="submit">Log in</button>
      </form>
    </div>
    <div sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
      </form>
    </div>
  </div>
</nav>

<nav th:fragment="navigation-operations">
  <div>
    <ul>
      <li>
        <a th:href="@{/operation/add}">Add money</a>
      </li>
      <li>
        <a th:href="@{/operation/withdraw}">Withdraw money</a>
      </li>
      <li>
        <a th:href="@{/operation/transfer}">Transfer money</a>
      </li>
      <li>
        <a th:href="@{/operation/history}">Transactions history</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>