<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="cardList">
  <table>
    <thead>
    <tr>
      <th>Card number</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${cards}">
      <td th:text="${card.numb}"></td>
      <td th:text="${#numbers.formatDecimal(card.balance / 100d, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
      <td>
        <form th:action="@{'/card/close/{id}'(id=${card.id})}" method="post">
          <input type="submit" value="Close"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:fragment="historyList">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Purpose of payment</th>
      <th>Sum</th>
      <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="operation : ${operations}" th:style="'color: '+(${operation.cashReceipts} ? green : red)+' ;'">
      <td th:text="${operation.id}"></td>
      <td th:text="${#temporals.format(operation.dateTime, 'dd.MM.yyyy HH:mm')}"></td>
      <td th:text="${operation.purposeOfPayment}"></td>
      <td th:text="${#numbers.formatDecimal(operation.sum / 100d, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
      <td th:text="${#numbers.formatDecimal(operation.cardBalance / 100d, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>