<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Cards</title>
</head>
<body>
<div th:insert="commons/header :: navigation"></div>

<div>
  <div>
    <form th:action="@{/card}" method="post">
      <div><label> Number : <input type="text" name="numb"/> </label></div>
      <input type="submit" value="Add card"/>
    </form>
  </div>

  <div th:if="${not #lists.isEmpty(cards)}" th:insert="commons/lists :: cardList"></div>
</div>

</body>
</html>