<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Cards</title>
</head>
<body>
<div th:insert="commons/header :: navigation"></div>

<div>
  <div>
    <form th:action="@{/card}" method="post" th:object="${cardDTO}">
      <div>
        <span th:if="${#fields.hasErrors('numb')}" th:errors="*{numb}" style="color: red; ">Error numb</span><br/>
        <label> [[#{card.numb}]]: <input type="text" th:field="*{numb}"/> </label>
      </div>
      <input type="submit" th:value="#{card.add}"/>
    </form>
  </div>

  <div th:if="${not #lists.isEmpty(cards)}" th:insert="commons/lists :: cardList"></div>
</div>

<div th:insert="commons/footer :: copyrights"></div>
</body>
</html>