<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
  Invalid username.
</div>
<form th:action="@{/registration}" method="post" th:object="${user}">
  <div><label> Username : <input type="text" th:field="*{username}"/> </label></div>
  <div><label> Full name : <input type="text" th:field="*{fullName}"/> </label></div>
  <div><label> E-mail : <input type="email" th:field="*{email}"/> </label></div>
  <div><label> Password: <input type="password" th:field="*{password}"/> </label></div>
  <div><label> Retype password: <input type="password" name="password2"/> </label></div>
  <div><input type="submit" value="Sign up"/></div>
</form>
<a th:href="@{/login}">Login</a>
</body>
</html>