<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Registration</title>
</head>
<body>
<div th:insert="commons/header :: navigation"></div>

<form th:action="@{/registration}" method="post" th:object="${userRegistrationTo}">
  <div>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red; ">Error username</span><br>
    <label> [[#{user.username}]]: <input type="text" th:field="*{username}"/> </label>
  </div>
  <div>
    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red; ">Error fullName</span><br>
    <label> [[#{user.fullName}]]: <input type="text" th:field="*{fullName}"/> </label>
  </div>
  <div>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red; ">Error email</span><br>
    <label> [[#{user.email}]]: <input type="email" th:field="*{email}"/> </label>
  </div>
  <div>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red; ">Password</span><br>
    <label> [[#{user.password}]]: <input type="password" th:field="*{password}"/> </label>
  </div>
  <div>
    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red; ">Confirm password</span><br>
    <label> [[#{user.retypePassword}]]: <input type="password" th:field="*{confirmPassword}"/> </label>
  </div>
  <div><input type="submit" th:value="#{login.reg}"/></div>
</form>
<a th:href="@{/login}" th:text="#{login.in}">Login</a>

<div th:insert="commons/footer :: copyrights"></div>
</body>
</html>