<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Operation - Add money</title>
</head>
<body>
<div th:insert="commons/header :: navigation"></div>
<div th:insert="commons/header :: navigation-operations"></div>

<div th:if="${#lists.isEmpty(cards)}">
  No cards available!
</div>

<div th:if="${not #lists.isEmpty(cards)}" th:with="formname='form-add'">
  <div>
    <form th:id="${formname}" th:action="@{/operation/add}" th:object="${operationCashTo}" method="post">

      <div>
        <label>Current card:
          <select th:form="${formname}" th:field="*{card}">
            <option th:each="c : ${cards}" th:text="${c.numb}" th:value="${c.id}"></option>
          </select>
        </label>
      </div>

      <div th:insert="commons/controls :: sum"></div>
      <input type="submit" value="Add sum"/>
    </form>
  </div>
</div>
<div th:insert="commons/footer :: copyrights"></div>
</body>
</html>